.left-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ddd;
  flex: 1;
  gap: 1.5rem;
}

.logo {
  flex: 1;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 19;
}

.item {
  background-color: transparent;
  border: none;
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
}

.active {
  color: #888;
}

.item:hover {
  cursor: pointer;
}
